/* stylelint-disable custom-property-empty-line-before */

:root {
  --black: #000;
  --gray-100: #010101;
  --gray-200: #0a0a0a;
  --gray-300: #202020;
  --gray-400: #444;
  --gray-500: #606465;
  --gray-600: #c4c4c4;
  --gray-700: #e6e6e6;
  --gray-800: #eeeff1;
  --gray-900: #fefefe;
  --white: #fff;

  --default-background-color: var(--gray-800);
  --default-color: var(--gray-200);

  --container-width: 32rem;
  --container-padding: .5rem;
}
